* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  max-width: 100%;
  margin: 0 auto;
  background-color: #f9f9f9;
  color: #333;
}
