* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  max-width: 960px;
  margin: 0 auto;
  // background-image: url(../images/stockholm.jpg);
  // background-repeat: no-repeat;
  // background-size: cover;
}
