header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
  background-color: #385169;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.menu {
  display: flex;
  list-style: none;
}
.menu li {
  padding: 2rem;
}
.menu li a {
  color: #ff7f50;
  text-decoration: none;
  font-size: 1.5em;
}
.menu li a:hover {
  color: #f0ad4e;
}
@media all and (max-width: 700px) {
  .menu li a {
    font-size: 1em;
  }
}
