section {
  margin-bottom: 40px;
  color: rgb(0, 0, 44);
  display: flex;
  flex-direction: column;
}

section h2 {
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
  margin-bottom: 20px;
  font-size: 1.8em;
  text-align: center;
  margin-top: 80px;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  width: 50%;
  padding: 0 1rem;
  margin: 0 auto;
}

.menu-item h3 {
  margin: 0;
  font-size: 1.5em;
  flex: 2;
}

.menu-item p {
  margin-bottom: 20px;
  font-style: italic;
  flex: 1;
}

.menu-item .price {
  font-size: 1.2em;
  font-weight: bold;
  flex: 1;
  text-align: right;
}

.menu-info {
  width: 50%;
  margin: 0 auto;
  padding: 0.5rem;
  line-height: 1.5rem;
  margin-top: 40px;
}
.menu-info h2 {
  margin-bottom: 20px;
}

@media all and (max-width: 900px) {
  .menu-item {
    width: 80%;
  }
  .menu-info {
    width: 80%;
  }
}

@media all and (max-width: 700px) {
  .menu-item h3 {
    font-size: 1rem;
  }

  .menu-item .price {
    font-size: 0.7rem;
  }
  section h2 {
    font-size: 1.2rem;
  }
  .menu-item {
    width: 80%;
  }
}

@media all and (max-width: 500px) {
  .menu-item {
    width: 95%;
  }
  .menu-info {
    width: 95%;
  }
}
